<!doctype html>
<head>
    <title>CollectPics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ dropzone.load() }}
    <style>
        .first-stage p.hello, .first-stage form.dropzone {
            display: none;
        }
    
        .second-stage form.author {
            display: none;
        }
    </style>
    <script>
        function init() {
            document.body.classList.remove("first-stage", "second-stage");

            if (localStorage.getItem("name") && localStorage.getItem("email")) {
                document.body.classList.add("second-stage");

                document.querySelector("span.name").innerText = localStorage.getItem("name");
                document.querySelector("span.email").innerText = localStorage.getItem("email");
            } else {
                document.body.classList.add("first-stage");
            }

        }

        document.addEventListener("DOMContentLoaded", function() {
            init(); 

            document.getElementsByClassName("not-you")[0].addEventListener("click", function() {
                localStorage.clear();
                init();
            });

            document.getElementsByClassName("author")[0].addEventListener("submit", function(event) {
                event.preventDefault();

                localStorage.setItem("name", document.querySelector("input.name").value);
                localStorage.setItem("email", document.querySelector("input.email").value);

                init();
            });

            myDropzone = Dropzone.forElement("form.dropzone");
            myDropzone.on("sending", function(file, xhr, formData) {
                formData.append("name", localStorage.getItem("name"));
                formData.append("email", localStorage.getItem("email"));
            });
            myDropzone.options.timeout = null;
            myDropzone.options.maxFilesize = 2 * 1024 * 1024; // 2 GiB
        });
    </script>
</head>
<body>
    <h1>Upload your photos and videos</h1>
    <form class="author">
        <input type="text" placeholder="Your Name" required="required" class="name" />
        <input type="email" placeholder="Your Email" required="required" class="email" />
        <input type="submit" value="Set" class="set" />
    </form>
    <p class="hello">Hello <span class="name"></span> (<span class="email"></span>)! <a class="not-you" href="#">Not you?</a></p>
    {{ dropzone.create(action_view='upload') }}
    <p>Uploaded photos can be found <a href="gallery">here</a>. The gallery is updated irregularly.
</body>
